.choosy {
    // background-color: #333;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    // width: 350px;
    * {
        box-sizing: border-box;
    }
    .selected {
        position: relative;
        ul {
            position: relative;
            overflow: hidden;
            margin: 0;
            padding: 0 5px;
            width: 100%;
            height: auto;
            border: 1px solid #aaa;
            background-color: #fff;
            background-image: -webkit-gradient(
                linear,
                left top,
                left bottom,
                color-stop(1%, #eee),
                color-stop(15%, #fff)
            );
            background-image: linear-gradient(#eee 1%, #fff 15%);
            cursor: text;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                float: left;
                list-style: none;
                position: relative;
                margin: 3px 5px;
                padding: 3px 30px 3px 5px;
                border: 1px solid #aaa;
                max-width: 100%;
                border-radius: 3px;
                background-color: #eeeeee;
                background-image: -webkit-gradient(
                    linear,
                    left top,
                    left bottom,
                    color-stop(20%, #f4f4f4),
                    color-stop(50%, #f0f0f0),
                    color-stop(52%, #e8e8e8),
                    to(#eee)
                );
                background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
                background-size: 100% 19px;
                background-repeat: repeat-x;
                background-clip: padding-box;
                -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgb(0 0 0 / 5%);
                box-shadow: 0 0 2px #fff inset, 0 1px 0 rgb(0 0 0 / 5%);
                color: #333;
                line-height: 13px;
                cursor: default;
                // height:25px;
                button {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    display: block;
                    border: 0;
                    cursor: pointer;
                    // width: 12px;
                    // height: 12px;
                    // background: url(chosen-sprite.png) -42px 1px no-repeat;
                    // font-size: 1px;
                }
                input {
                    width: 50px;
                    margin: 1px 0;
                    padding: 0;
                    // height: 25px;
                    outline: 0;
                    border: 0 !important;
                    background: transparent !important;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    color: #000;
                    font-size: 100%;
                    // font-family: sans-serif;
                    line-height: normal;
                    border-radius: 0;
                    height:11px;
                }
            }
        }
    }
    .matches {
        background-color: #000;
        clip: auto;
        -webkit-clip-path: none;
        clip-path: none;
        position: absolute;
        top: 100%;
        z-index: auto;
        width: 100%;
        border: 1px solid #aaa;
        border-top: 0;
        background: #fff;
        -webkit-box-shadow: 0 4px 5px rgb(0 0 0 / 15%);
        box-shadow: 0 4px 5px rgb(0 0 0 / 15%);
        // clip: rect(0, 0, 0, 0);
        // -webkit-clip-path: inset(100% 100%);
        // clip-path: inset(100% 100%);
        ul{
            color: #444;
            position: relative;
            overflow-x: hidden;
            overflow-y: auto;
            margin: 0 4px 4px 0;
            padding: 0 0 0 4px;
            max-height: 240px;
            -webkit-overflow-scrolling: touch;
            li{
                display: list-item;
                cursor: pointer;
                margin: 0;
                padding: 5px 6px;
                list-style: none;
                line-height: 15px;
                word-wrap: break-word;
            }
            .m-hover, li:hover{
                background-color: #3875d7;
                color: #fff;
            }
            .selected{
                opacity: .5;
            }
        }
    }
}
